.kitchen-logo {
  margin-left: 15px;
}

.kitchen-container {
  overflow: auto;
  padding: 0.7em;
  margin-top: 0.5em;
  height: 98%;
  align-content: start;
}

.kitchen-items {
  cursor: pointer;
  user-select: none;
  transition: all ease 150ms;
  flex: 1, 1, auto;
  width: 18rem;
  align-items: flex-start;

  &:hover:not(.prepped) {
    background-color: var(--mantine-color-blue-light-hover);
    transition: all ease 150ms;
  }

  &:active:not(.prepped) {
    transform: translateY(3px);
  }

  &.prepped {
    cursor: not-allowed;
    text-decoration: line-through;
    background-color: var(--mantine-color-green-light);
  }
}

.order-items {
  width: 100%;
  border: 1px solid var(--mantine-color-default-border);
  border-radius: 10px;
}

.order-first-line {
  width: 100%;
  justify-content: flex-end;
}

.undo-button {
  margin-left: 0.7rem;
}

.alterations {
  padding-left: 1.3rem;
}

.item-name {
  overflow-wrap: anywhere;
  max-width: 85%;
}