.manager {
  .category-list {
    &.h-100 {
      height: calc(100vh - (var(--app-shell-header-height) + var(--app-shell-header-height) + 50px));
    }
  }

  .menu-item-list {
    &.h-100 {
      height: calc(100vh - (var(--app-shell-header-height) + var(--app-shell-header-height) + 8px));
    }
  }

  .category-list,
  .menu-item-list {
    &.scrollable {
      overflow-y: scroll;
    }
  }
}

.menu-item-list {
  margin-top: 1rem;

  &.appshell-h-100 {
    height: calc(100vh - (var(--app-shell-header-height) + var(--app-shell-header-height) + 2rem));
  }
}

.menu-item {
  &:active {
    transform: translateY(3px);
  }
}

.category-name {
  transition: all ease 150ms;

  &:hover {
    color: var(--mantine-color-blue-filled);
    transition: all ease 150ms;
  }
}

.menu-item,
.category-item {
  cursor: pointer;
  user-select: none;
  transition: all ease 150ms;

  &:hover {
    background-color: var(--mantine-color-blue-outline-hover);
    transition: all ease 150ms;
  }

  &.selected {
    background-color: var(--mantine-color-blue-outline);
    color: var(--mantine-color-white);
  }
  
  &.dragging {
    opacity: 50%;
  }

  .drag-handle:hover {
    cursor: grab;
  }

  .drag-handle:active {
    pointer-events: none;
  }
}