.wait-appshell-h-100 {
  height: calc(100vh - (var(--app-shell-header-height) + 32px))
}

.prog-align-content {
  align-content: start;
}

.prog-item-card {
  align-items: flex-start;
  width: 19rem;
}

.progress-container {
  height: 97%;
}
